<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication"
    android:icon="@mipmap/biohazard_launcher">
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Warning!"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <receiver android:name=".MyBroadcastReceiver" android:enabled="true" />-->
        <receiver android:name=".Alarm_Receiver" android:enabled="true"/>
        <activity android:name=".FullImageActivity"/>
        <service
            android:name=".RingtonePlayingService"
            android:enabled="true"></service>
    </application>

</manifest>